{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      href="{% static 'wallet/flower.png' %}"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}0xWallet{% endblock %}</title>

    <link href="{% static 'wallet/style.css' %}" rel="stylesheet" />
    {% block script %} {% endblock %}
  </head>
  <body>
    <div class="container">{% block body %} {% endblock %}</div>
  </body>
</html>
